:root {
	--interfaceHue: 220;
	--interfaceSaturation: 0.1;
}

body {
	font-family: "Rajdhani Semi";
	overscroll-behavior: contain;
	scroll-behavior: smooth;
}

h1, h2 {
	font-family: "Rajdhani Bold";
}
h1 {
	font-size: 1.75em;
}
h2 {
	font-size: 1.25em;
}

p {
	margin: 4px 0px;
}

button, select {
	font-family: "Rajdhani Bold";
	font-size: 16px;
	color: white;
	
	text-shadow: 0px 0px 4px black;
	text-transform: uppercase;
	
	border: none;
	border-radius: 4px;

	padding: 4px;
	cursor: pointer;
}
select {
	background: grey;
	font-family: "Rajdhani Semi";

	text-transform: none;
	text-shadow: none;
}

input[type="text"] {
	font-family: "Rajdhani Semi";
	color: white;

	text-align: center;
}
input[type="text"]::placeholder {
	white-space: pre-line;
}

.sectionTitle {
	background: linear-gradient(0deg, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 8%) 8px, transparent 8px);
	text-shadow: 0px 0px 8px black;

	color: white;

	display: grid;
	grid-template-columns: 20% 1fr 20%;

	user-select: none;
}
.sectionTitle h1 {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	border-radius: 4px;
	
	text-align: center;
	
	margin: 0px;
	padding: 6px;
}
.sideTitle {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%);
	text-align: center;
	
	margin-top: auto;
	margin-bottom: 0px;
	padding: 2px 8px;
}
.rt {
	border-top-right-radius: 4px;
}
.lt {
	border-top-left-radius: 4px;
}

.drag {
	position: relative;
	overflow: hidden;
	
	cursor: grab;
}
.drag * {
	user-select: none;
	-webkit-user-drag: none;
}
.dragContent {
	position: relative;
	width: max-content;
}

:focus {
	outline: none;
}

#editorTools ::-webkit-scrollbar, #galleryContainer::-webkit-scrollbar{
	background: rgba(0, 0, 0, 0.75);
	border-radius: 4px;
	
	width: 8px;
}
#editorTools ::-webkit-scrollbar-thumb, #galleryContainer::-webkit-scrollbar-thumb{
	border-radius: 4px;
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 25%);
}

@font-face {
	font-family: "Rajdhani Bold";
	src: url("../Font/Rajdhani-Bold.ttf");
}
@font-face {
	font-family: "Rajdhani";
	src: url("../Font/Rajdhani-Medium.ttf");
}
@font-face {
	font-family: "Rajdhani Semi";
	src: url("../Font/Rajdhani-SemiBold.ttf");
}