body {
	font-family: "Rajdhani Semi";
}

h1, h2 {
	font-family: "Rajdhani Bold";
}

p {
	margin: 4px 0px;
}

.drag {
	position: relative;
	overflow: hidden;
	
	user-select: none;
	cursor: grab;
}

.dragContent {
	position: relative;
	width: max-content;
}

:focus {
	outline: none;
}

@font-face {
	font-family: "Rajdhani Bold";
	src: url("../Font/Rajdhani-Bold.ttf");
}
@font-face {
	font-family: "Rajdhani";
	src: url("../Font/Rajdhani-Medium.ttf");
}
@font-face {
	font-family: "Rajdhani Semi";
	src: url("../Font/Rajdhani-SemiBold.ttf");
}