:root {
	--cellMaxWidth: none;
	--matrixSize: 512px;
	--selectStates: initial;
}

#estimator {
	color: white;

	width: 100%;
	max-width: max-content;
}

#editorTools {
	display: flex;

	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 8%);
	border-radius: 0px 0px 4px 4px;
	gap: 4px;
	
	width: max-content;
	max-width: 100%;

	height: min-content;
}
#editor {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	border-radius: 4px;
	border-top-left-radius: 0px;
	padding: 4px;
	
	width: var(--matrixSize);
	max-width: calc(100% - 8px);
}
#editorView {
	background: linear-gradient(to bottom, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%)
										, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 5%));
	display: flex;

	border-radius: 4px;
	padding: 4px;
	gap: 4px;
	
	aspect-ratio: 1 / 1;
}

#estimateTotal {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	display: grid;
	grid-template-rows: max-content minmax(0px, 1fr) 32px 32px;

	border-radius: 4px;
	gap: 4px;
	padding: 4px;

	min-width: 320px;
}
#totalContainer {
	position: relative;

	height: calc(var(--matrixSize) + 35px);
	max-height: 60vh;

	display: flex;
}

#commissionList {
	background: linear-gradient(to bottom, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%)
										, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 5%));
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%);
	border-radius: 4px;
	overflow-y: scroll;
	overflow-x: hidden;

	display: flex;
	flex-direction: column;
	gap: 4px;

	flex: 1 1 100%;
}
#commissionList li {
	margin-bottom: 8px;
}

.purgeChange {
	background: #ff0000;

	position: absolute;
	display: block;
	height: 30px;
	padding: 0px 10px;
	
	right: 4px;
	top: 4px;
}
#addToTotal {
	background: #29b929;
}
#clearEstimate {
	background: #ff0000;
}

#editor * {
	-webkit-user-drag: none;
	user-select: none;
}

.estimatorTitle {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 85%), 34%);
	border-radius: 4px;
	
	padding: 4px;
}
.estimatorTitle h2 {
	font-family: "Rajdhani Bold";
	text-align: center;
	text-shadow: 0px 0px 4px black;

	margin: 0px;
	padding: 8px;
	
	border-radius: 4px;
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 17%);
}

#estimateType {
	display: grid;
	grid-template-columns: max-content 1fr;

	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 85%), 34%);
	border-radius: 4px;
	
	padding: 4px;
	gap: 4px;
}
#typeName {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 90%), 24%);

	padding: 8px 12px;
}

#stickerParameters {
	display: flex;
	gap: 4px;

	width: 100%;
	margin: 4px 0px;
}
#stickerParameters select {
	text-shadow: 0px 0px 4px black;
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 24%);
	flex: 1 1 auto;

	pointer-events: var(--selectStates);
}
#stickerParameters select:focus {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 94%), 12%);
}

#estimatorViewport {
	position: relative;
}
.counter {
	position: absolute;
	transform-origin: bottom center;

	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	padding: 4px 0px;
	width: 64px;

	text-align: center;
	z-index: 1;
}

.ColumnMode #editorView {
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}
.MatrixMode #editorView {
	flex-wrap: wrap;
	
	justify-content: center;
	align-content: center;
}

.MatrixMode .stickerCell {
	align-content: center;
	flex: 1 1 25%;
	
	max-width: var(--cellMaxWidth);
}
.ColumnMode .stickerCell {
	height: 128px;
	max-width: none;

	display: flex;
	gap: 4px;
}
.ColumnMode .templatePart {
	margin-left: 0px;
	width: 128px;
}

.MatrixMode #cellCounter {
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%);

	border-bottom-right-radius: 4px;
	border-top: none;
	border-left: none;

	top: -4px;
	left: 0px;
}
.ColumnMode #cellCounter, #listCounter {
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 5%);
	border-radius: 4px 4px 0px 0px;
	border-bottom: none;

	bottom: -4px;
	left: 50%;
	right: 50%;
	transform: translate(-50%);
}

#listCounter {
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%);
	border-bottom: none;

	bottom: -4px;
}

.stickerCell {
	position: relative;

	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 25%);
	border: dashed 4px transparent;
	border-radius: 4px;

	cursor: pointer;
	aspect-ratio: 1 / 1;
}
.stickerCell:nth-child(even) {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 64%), 44%);
}
.selectedCell {
	border: dashed 4px hsl(calc(var(--interfaceHue) + 26), calc(var(--interfaceSaturation) * 100%), 70%);
	border-radius: 4px;
	opacity: 1;
}

.templatePart {
	position: absolute;
	
	display: block;
	margin: auto;

	width: max-content;
	max-width: 100%;
	
	top: 0px;
}
.templatePart:first-child {
	position: relative;
}

.descriptionBox {
	width: 100%;

	border: 0px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
}

#stickerControls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;

	gap: 4px;
	margin: 0px;
	margin-top: 4px;
}

#addCell {
	background: #29b929;
}
#deleteCell {
	background-color: #ff0000;
}
#selectCell {
	background: blue;
}
#deselectCell {
	background: orange;
}

@media (max-width: 780px) {
	.editorChange article {
		width: unset;
	}
	#editorTools {
		flex-direction: column;
	}
	#estimateTotal {
		min-width: unset;
	}
}

@media (max-width: 500px) {
	#stickerParameters {
		flex-direction: column;
	}
	#estimateType {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 360px) {
	.estimatorTitle {
		font-size: small;
	}
	.descriptionBox::placeholder {
		position: relative;
		top: -8px;
	}
}