:root {
	--cellMaxWidth: 90%;
	--matrixSize: 768px;
	--matrixHeight: 512px;
	--selectStates: initial;
	--ratio: 1.5;
}

#commissionEditor {
	color: white;

	width: 100%;
	max-width: max-content;

	margin: auto;
}

#editorTools {
	display: flex;

	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 8%);
	border-radius: 0px 0px 4px 4px;
	gap: 4px;
	
	width: max-content;
	max-width: 100%;

	height: min-content;
}
#editor {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	border-radius: 4px;
	border-top-left-radius: 0px;
	padding: 4px;
	
	width: var(--matrixSize);
	max-width: calc(100% - 8px);

	display: flex;
	flex-direction: column;
}
#editorView {
	background: linear-gradient(to bottom, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%)
										, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 5%));
	display: flex;
	flex: 1 1 auto;

	height: var(--matrixHeight);
	justify-content: center;
	align-content: center;

	border-radius: 4px 4px 0px 0px;
	padding: 4px;
	gap: 4px;
}

#estimateTotal {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	display: flex;
	flex-direction: column;

	border-radius: 4px;
	padding: 4px;

	min-width: 320px;
}
#commissionList {
	background: linear-gradient(to bottom, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%)
	, hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 5%));

	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%);
	border-radius: 4px 4px 0px 0px;
	
	overflow-y: scroll;
	overflow-x: hidden;
	
	display: flex;
	flex: 1 1 calc(var(--matrixSize) / var(--ratio));
	flex-direction: column;

	gap: 4px;
	margin-top: 4px;
}
#commissionList li {
	margin-bottom: 8px;
}

.counter {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 15%);
	padding: 4px 0px;
	margin: 0px;
	
	border-radius: 0px 0px 4px 4px;

	width: calc(100% - 8px);
	text-align: center;
}
#cellCounter {
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 4%);
}
#listCounter {
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 10%);
	border-top: none;
}

.purgeChange {
	background: #ff0000;

	position: absolute;
	display: block;
	height: 30px;
	padding: 0px 10px;
	
	right: 4px;
	top: 4px;
}
#addToTotal {
	margin-top: 4px;
	background: #29b929;
}
#clearEstimate {
	margin-top: 4px;
	background: #ff0000;
}

#editor * {
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

.estimatorTitle {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 85%), 34%);
	border-radius: 4px;
	
	padding: 4px;
}
.estimatorTitle h2, #typeName {
	font-family: "Rajdhani Bold";
	text-align: center;
	text-shadow: 0px 0px 4px black;

	margin: 0px;
	padding: 8px;
	
	border-radius: 4px;
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 17%);
}

#estimateType {
	display: grid;
	grid-template-columns: max-content 1fr;

	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 85%), 34%);
	border-radius: 4px;
	
	padding: 4px;
	gap: 4px;
}
#typeName {
	font-size: 1.25em;
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 90%), 24%);
}
#typeName option {
	font-size: 16px;
	text-align: left;
}

#stickerParameters {
	display: flex;
	gap: 4px;

	width: 100%;
	margin: 4px 0px;
}
#stickerParameters select {
	text-shadow: 0px 0px 4px black;
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 24%);
	flex: 1 1 auto;

	pointer-events: var(--selectStates);
}
#stickerParameters select:focus {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 94%), 12%);
}

.ColumnMode #editorView {
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}
.MatrixMode #editorView {
	flex-wrap: wrap;
	
	justify-content: center;
	align-content: center;
}

.stickerCell {
	position: relative;

	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 25%);
	border: dashed 4px transparent;
	border-radius: 4px;

	cursor: pointer;
}
.stickerCell:nth-child(even) {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 64%), 44%);
}
.selectedCell {
	border: dashed 4px hsl(calc(var(--interfaceHue) + 26), calc(var(--interfaceSaturation) * 100%), 70%);
	border-radius: 4px;
	opacity: 1;
}

.template {
	position: relative;
	height: 100%;
	width: 100%;

	display: flex;

	justify-content: center;
	align-content: center;
}
.templatePart {
	position: absolute;

	height: auto;
	max-width: 100%;
	max-height: 100%;
	
	aspect-ratio: 1 / 1;
}

.MatrixMode .stickerCell {
	flex: 1 1 25%;
	
	max-width: var(--cellMaxWidth);
	aspect-ratio: var(--ratio) / 1;
}
.ColumnMode .stickerCell {
	height: 160px;
	max-width: none;

	display: flex;
	gap: 4px;
}
.ColumnMode .template {
	width: 160px;
	height: 160px;

	aspect-ratio: 1 / 1;
}


.descriptionBox {
	width: 100%;

	border: 0px;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.5);
}

#stickerControls {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 100%;

	gap: 4px;
	margin: 0px;
	margin-top: 4px;
}

#addCell {
	background: #29b929;
}
#deleteCell {
	background-color: #ff0000;
}
#selectCell {
	background: blue;
}
#deselectCell {
	background: orange;
}

@media (max-width: 780px) {
	.editorChange article {
		width: unset;
	}
	#editorTools {
		flex-direction: column;
	}
	#estimateTotal {
		min-width: unset;
	}
}

@media (max-width: 500px) {
	#stickerParameters {
		flex-direction: column;
	}
	#estimateType {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 360px) {
	.estimatorTitle {
		font-size: small;
	}
	.descriptionBox::placeholder {
		position: relative;
		top: -8px;
	}
}