:root {
	--ticketHue: 200;
	--ticketSaturation: 20%;
	--ticketLightness: 0%;
}
input, select, option, #ticketCounter, .deleteBlock {
	font-family: 'Rajdhani Semi';
}
button {
	font-family: 'Rajdhani Bold';
}

#estimator {
	display: flex;
	border-radius: 4px;
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(27% + var(--ticketLightness)));
	
	height: 84vh;
	max-height: 774px;

	padding: 4px;
	gap: 4px;

	overflow: hidden;
}

#blockArea, #visualAid {
	height: 100%;
	width: 100%;
}
#blockArea {
	display: grid;
	grid-template-rows: min-content 1fr min-content;

	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(8% + var(--ticketLightness)));
	max-width: 360px;
}
#visualAid {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(17% + var(--ticketLightness)));
}
#blockArea::-webkit-scrollbar, #blockContainer::-webkit-scrollbar {
	display: none;
}
#blockContainer {
	padding: 8px;
	overflow-y: auto;

	display: flex;
}

.quotaBlock {	
	filter: drop-shadow(0px 2px 4px black);
	width: 100%;
	
	margin: auto;
}
.quotaBlock .estimationBody {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(27% + var(--ticketLightness)));
	color: white;

	border-radius: 4px;
	padding: 8px;
}
.quotaBlock label, .quotaBlock select {
	display: inline-block;
	width: auto;
	
	font-size: 14px;
}
.quotaBlock select {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(13% + var(--ticketLightness)));
	color: white;
	vertical-align: middle;

	border-radius: 4px;
	border: none;
	width: 100%;
	
	padding: 4px;
}
.quotaBlock hr {
	border: none;
	border-top: dashed 4px hsl(var(--ticketHue), var(--ticketSaturation), calc(20% + var(--ticketLightness)));

	margin: 0px 8px;
}

.totalDisplay {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(8% + var(--ticketLightness)));
	border-radius: 4px;
	padding: 4px 8px;

	margin: 0px;
	font-size: 18px;
}
.display {
	margin-top: 8px;
}
input {
	cursor: pointer;
}
input[type="range"] {
	appearance: none;

	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(11% + var(--ticketLightness)));
	border-radius: 8px;

	vertical-align: middle;
	height: 12px;

	margin: 0px;
	width: 100%;
}
input[type="range"]:not(:focus) {
	cursor: grab;
}
input[type="range"]:focus {
	cursor: grabbing;
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;

	background: #0075ff;
	border-radius: 8px;

	height: 16px;
	width: 8px;
}

.scrolledParameters {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(16% + var(--ticketLightness)));
	border-radius: 4px;
	overflow-y: auto;
	
	max-height: 276px;
	margin-top: 8px;
	padding: 8px;
}
.scrolledParameters::-webkit-scrollbar {
	width: 10px;
}
.scrolledParameters::-webkit-scrollbar-track {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(13% + var(--ticketLightness)));
	border-radius: 4px;
}
.scrolledParameters::-webkit-scrollbar-thumb {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(33% + var(--ticketLightness)));
	border-radius: 4px;
}

.characterBlock {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(20% + var(--ticketLightness)));
	border-radius: 4px;
	box-shadow: 0px 2px 4px black;

	padding: 8px;
	margin-bottom: 8px;
}
.characterBlock .totalDisplay {
	margin-bottom: 8px;
}
.characterButtons {
	display: flex;
	gap: 8px;
}

#ticketControls, #ticketSwap {
	display: flex;
	gap: 4px;
}
#ticketStats, #ticketSwap {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(12% + var(--ticketLightness)));
	height: min-content;
	padding: 8px;
}
#ticketStats {
	border-top: dashed 2px hsl(var(--ticketHue), var(--ticketSaturation), calc(15% + var(--ticketLightness)));
}
#ticketSwap {
	border-bottom: dashed 2px hsl(var(--ticketHue), var(--ticketSaturation), calc(15% + var(--ticketLightness)));

	padding: 8px;
	margin-bottom: 0px;
}
#ticketCounter {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(20% + var(--ticketLightness)));
	border-radius: 4px;

	text-align: center;
	color: white;
	
	margin: 0px;
	width: 128px;
	padding: 2px;
}
#previousTicket, #nextTicket {
	background: hsl(var(--ticketHue), var(--ticketSaturation), calc(50% + var(--ticketLightness)));
	border: none;

	width: 100%;
	padding: 4px;

	border-radius: 4px;
	opacity: 0.25;
}

#addBlock {
	padding: 4px;
	width: 100%;
}
#addBlock, .addCharacterButton, .deleteBlock, .popCharacterButton {
	border-radius: 4px;
	border: none;
}
#addBlock, .addCharacterButton {
	background: #00ff00;
}
.deleteBlock, .popCharacterButton {
	background: #ff0000;
}
.addCharacterButton, .popCharacterButton {
	width: 50%;
	height: 20px;
}

.quotaBlock .totalDisplay:not(.characterBlock .totalDisplay) {
	font-size: 20px;
	padding: 8px 10px;
}
.deleteBlock {
	font-size: 18px;

	color: white;
	text-shadow: 0px 0px 4px black, 0px 0px 8px black;
	
	padding: 4px;
	width: 100%;
}
.popCharacterButton {
	opacity: 0.25;
}

@media (max-width: 650px) {
	#estimator {
		flex-direction: column;
		flex-flow: column-reverse;
	}
	
	#blockArea {
		max-width: unset;
	}
}