:root {
	--dropShadowColor: blue;
	--outlineTint: yellow;
}

#portfolio, #contentWarning {
	color: white;
}
#portfolio * {
	user-select: none;
	-webkit-user-select: none;
	-webkit-user-drag: none;
}

#portfolioContainer {
	background: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 100%), 6%);
	border: solid 4px transparent;
	border-radius: 0px 0px 4px 4px;

	height: 85vh;
	display: block;

	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}
#portfolioPieces {
	display: flex;
	flex-wrap: wrap;
	
	height: max-content;
	gap: 4px;
}

#focusedDisplay, #contentWarning {
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(20px);
	border-radius: 4px;
	padding: 8px;
	
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	z-index: -1;

	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;

	overflow: hidden;
	opacity: 0;
}
#focusedDisplay {
	text-transform: uppercase;
}
#focusedPiece {
	display: flex;
	flex-direction: column;

	opacity: 0;
	gap: 4px;

	height: max-content;
}

#piece {
	margin: 16px 0px;

	width: 100%;
	max-width: 768px;

	filter: drop-shadow(0px 0px 4px var(--dropShadowColor));
}
#piece img {
	box-sizing: border-box;
	display: block;
	margin: auto;

	max-height: 55vh;
	max-width: 100%;
}

#contentWarning {
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
}
#contentWarning button {
	flex: 1 1 100%;
}

#warnings {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
#warnings h1 {
	font-size: 3em;

	text-align: center;
	margin: 0px;
}
#warnings p:not(button > p) {
	font-size: 1.25em;

	text-align: center;
}
#warnings hr {
	border: dashed 2px white;
	
	margin: 32px auto;
	margin-bottom: 0px;

	width: 100%;
}

#pieceMeta {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#pieceMeta h1 {
	font-size: 2.25em;
	text-align: center;
	margin: 0px;

	padding-left: 20px;
}
#pieceMeta ul {
	display: flex;
	gap: 32px;

	margin: 0px;
	padding: 0px;
}
#pieceMeta li:last-of-type {
	position: relative;
}
#pieceMeta li:last-of-type::after {
	content: "";
	background: var(--outlineTint);
	
	border: outset 3px #570200;
	border-bottom-color: blue;
	border-right-color: blue;
	border-radius: 2px;

	width: 8px;
	height: 8px;

	position: absolute;
	right: -20px;
	top: 50%;
	transform: translateY(calc(-50% - 1px));
}

#closeportfolio, #creditProceed, #creditLink {
	height: 40px;
}
#closeportfolio {
	background-color: #f00;
}
#creditProceed {
	background-color: #000087;
}
#creditLink {
	background-color: #00f;
}
#closeportfolio img, #creditProceed img, #creditLink img {
	padding: 9px;
}
#closeportfolio p, #creditProceed p, #creditLink p {
	font-size: 18px;
	padding: 8px 5px;
}

#returnToFolio {
	height: 48px;
	background-color: #1e9d1e;
}
#returnToFolio img {
	padding: 12px;
}
#returnToFolio p {
	font-size: 21px;
	padding: 10px 5px;
}

#portfolioFilters {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 10%);
	padding: 4px;
	
	display: flex;
	gap: 4px;
}

.category {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 30%);
	border: solid 2px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 34%);
	border-radius: 20px;

	flex: 1 1 50%;
}
.category p {
	margin: auto;
	font-size: 1.2em;
}

.exampleItem {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;

	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 20%);
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 20%);
	border-radius: 4px;
	
	flex: 1 1 auto;
	height: 320px;
}
.exampleItem:nth-child(even) {
	background-color: hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 24%);
	border: solid 4px hsl(var(--interfaceHue), calc(var(--interfaceSaturation) * 93%), 24%);
}


@media (max-width: 425px) {
	#portfolioPieces, #portfolioFilters {
		flex-direction: column;
	}
	.exampleItem {
		height: 160px;
	}
}

@media (max-width: 360px) {
	#pieceMeta h1 {
		font-size: 1.7em;
	}
	#pieceMeta ul {
		font-size: 0.9em;
	}
}